
@{
    ViewBag.Title = "Strona główna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div >
    <div class="headPanel">
        <a class="headimage">
            <img src="~/Images/logoLigi.png" class="img-responsive logo" />
        </a>
    </div>
    <br/><br/>
    <div class="leagueInfo">
        <p> English Premier League (nazywana także Premiership). zawodowa liga piłkarska znajdująca się na najwyższym szczeblu rozgrywek piłkarskich w Anglii. 
            Gra w niej 20 klubów. 4 czołowe drużyny kwalifikują się do miedzynarodowych rogrywek klubowych Ligi Mistrzów (4. drużyna musi najpierw przejść baraże). 
            Piąta z najlepszych ekip kwalifikuje się do  miedzynarodowych rogrywek klubowych Ligi Europejskiej.
            3 najsłabsze drużyny spadają do niższej kalsy rozgrywkowej (Championship). Do Premier League awansują z Chamiponship bezpośrednio 2 drużyny, 
            kolejne 4 (trzecia drużyna w tabeli z szóstą oraz czwarta z piątą) rozgrywają między sobą mecze barażowe (mecz i rewanż), 
            o awans walczą zwycięzcy dwumeczu, rozgrywając jedno spotkanie na boisku neutralnym</p>
        <p> Sezon rozgrywek rozpoczyna się w sierpniu, a kończy się w maju. Każdy klub rozgrywa 38 meczów w tym czasie ze wszystkich 380 spotkań ligowych.</p>
        <p>Premier League jest najchętniej oglądaną ligą sportową na świecie. Są to także najbardziej dochodowe rozgrywki piłkarskie.</p>
        <p>Premier League zajmuje trzecie miejsce w rankingu UEFA, w którym liczą się występy zespołów z danych lig w europejskich pucharach z ostatnich pięciu lat.
            Od czasu założenia w rozgrywkach Premier League brały udział 44 kluby.</p>
      </div>
</div>